@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* google */
/* --- Google Translate: masquer la bannière & annuler les décalages --- */
#goog-gt-tt,
.goog-te-banner-frame,
.goog-te-balloon-frame {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
}

iframe.goog-te-banner-frame {
  display: none !important;
}

html.translated-ltr body,
html.translated-rtl body,
html body {
  top: 0 !important;
}

/* évite les highlights jaunes injectés */
.goog-text-highlight {
  background: inherit !important;
  box-shadow: none !important;
}

/* gadget par défaut (on garde le tien dans le footer) */
#google_translate_element,
.skiptranslate {
  display: none !important;
}
